# Flutter & Dart ignored files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
node_modules/
*.apk
*.aab
*.ipa

# Android ignored files
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties

# iOS ignored files
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE & OS ignored files
.idea/
.vscode/
*.swp
*.DS_Store
Thumbs.db
